<h2>Editing Book</h2>
<%= form_with model: @book, local:true do |f| %>
  <label for="inputTitle">Title</label>
  <p><%= f.text_field :title %></p>
  <label for="inputBody">Opinion</label>
  <p><%= f.text_area :body %></p>
  <%= f.submit "Update Book" %>
<% end %>
<%= link_to "Show", book_path(@book.id) %>
|
<%= link_to "Back", books_path %>